@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: hsl(0, 0%, 94%);
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main-card{
  width: 600px;
  height: 450px;
  background-color: #FFFFFF;
  border-radius: 20px;
  border-bottom-right-radius: 160px;
  padding: 30px;
}

.box-wrapper{
  display: flex;
  flex-direction: row;
  width: 480px;
  justify-content: space-between;
  color: hsl(0, 1%, 44%);
  text-transform: uppercase;
}

.box-value {
  display: flex;
  flex-direction: column;
}

.box-value label{
  letter-spacing: .2rem;
  font-size: 12px;
  margin-bottom: 5px;
}

.box-value input{
  width: 130px;
  padding: 10px;
  padding-left: 20px;
  font-size: 22px;
  font-weight: 400;
  border-radius: 8px;
  border: 1px solid hsl(0, 0%, 86%);
  color: hsl(0, 0%, 8%);
}

.box-value input:focus{
  border: 1px solid hsl(259, 100%, 65%);
  outline: none;
}

.err{
  font-size: 12px;
    font-style: italic;
    font-weight: 400;
    color: hsl(0, 100%, 67%);
    text-transform: none;
    margin-top: 10px;
}

.button{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.line{
  width: 100%;
  border-bottom: 1px solid hsl(0, 0%, 86%);
}

button{
  padding: 20px;
  border: none;
  border-radius: 50%;
  background-color: hsl(259, 100%, 65%);
  cursor: pointer;
  transition: .3s ease;
}
button:hover{
  background-color: hsl(0, 0%, 8%);
}

.value{
  font-size: 60px;
  font-weight: 800;
  font-style: italic;
  margin-bottom: -20px;
  color: hsl(0, 0%, 8%);
}



span{
  color: hsl(259, 100%, 65%);
  font-weight: 800;
  font-style: italic;
  font-size: 60px;
}

@media (max-width: 600px){
  .main-card{
      width: 350px;
      height: 430px;
      padding: 30px;
      border-bottom-right-radius: 100px;
  }

  .box-value{
    width: 100%;
}
  .box-value input{
    width: 90px;
    font-size: 20px;
    padding: 15px;
}
  .err{
    width: 90px;
  }
  
  .button{
    margin-top: 20px;
  }

  button img{
    width: 25px;
}
.line-sec{
  border: 1px solid hsl(0, 0%, 86%);
  width: 100%;
}

  .value{
    font-size: 50px;
}
}